@model demo.Models.Cita

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar cita</h1>

<h3>¿Estas seguro que quieres eliminar esta cita?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechacita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechacita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatarios.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar Cita" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-success">Devuelta a la lista <i class="bi bi-house-fill"></i></a>
    </form>
</div>
