@model demo.Models.Cita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechacita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechacita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatarios.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
