@model IEnumerable<demo.Models.Cita>

@{
    ViewData["Title"] = "Index";
}

<h1>Agenda de Citas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">¡Agenda una cita proxima!<i class="bi bi-plus"></i></a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechacita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechacita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatarios.Nombre)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="bi bi-pencil"></i> Editar</a> 
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id"><i class="bi bi-list-check"></i> Detalles</a> 
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
